.text-area {
    text-area-background: black;
    -fx-font-family: monospace;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-background-insets: -5px;
    -fx-border-insets: -5px;
    -fx-padding: -5px;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

.text-field {
    text-area-background: black;
    -fx-font-family: monospace;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-background-color: black;
    -fx-background-insets: -1px;
    -fx-border-insets: -1px;
    -fx-padding: -1px;
}

.text-field .content {
    -fx-background-color: text-area-background;
}